
@{
    ViewBag.Title = "DashBoard";
    Layout = "~/Areas/Admin/Views/Shared/_layOutAdmin.cshtml";
}
<h4> <b>Group 1</b></h4>
<p>
    <b>Hi: Please select options</b>
    <img src="https://static.vinwonders.com/2022/10/cac-hang-ve-may-bay-banner.jpg" width="2060" height="1200" alt="" />
